body {
	display: flex;
	justify-content: center;
    overflow: hidden;
}
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 100px;
		position: absolute;
		top: 25%;
	}
	p {
		padding: 15px;
		font-size: 24px;
	}
	#normal {
		font-family: "Playfair Display", serif;
	}
	#gangnam {
		font-family: "Bangers", cursive;
		font-size: 27px;
		padding-top: 20px;
		background: -webkit-linear-gradient(45deg, #53d9d1, #f27b9b, #eb7132);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
    }
    

	/* box around the slider*/
    
    .switch {
		position: relative;
		display: inline-block;
		height: 40px;
		width: 80px;
	}
    
    /* hide default html checkbox */
    
    .switch input {
		opacity: 0;
		height: 0;
		width: 0;
    }
    
	/* the slider */
    
    .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-transition: 0.4s;
        transition: 0.4s;
        background-color: #181a18;
    }
    
	.slider:before {
		position: absolute;
		content: "";
		height: 30px;
		width: 30px;
		top: 5px;
		left: 5px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	input:checked + .slider {
		background-color: #f27b9b;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(40px);
		-ms-transform: translateX(40px);
		transform: translateX(40px);
	}
	/* rounded slider */
	.slider.round {
        border-radius: 30px;
        color: #181a18;
	}
	.slider.round:before {
		border-radius: 50%;
    }
    
/* light mode*/ 

.light {
    background: #ebe9e9;
}    


/* dark mode */

.dark {
    background: #181a18;
    color: #ebe9e9;
}

/* confetti */

.confetti-container {
	height: 100%;
	width: 100%;
    position: relative;
}

.confetti {
	position: absolute;
	background: #181a18;
	height: 15px;
	width: 10px;
	left: 50%;
	animation: confetti 4.4s ease-in-out -2s infinite;
	transform-origin: left top;
    overflow: hidden;
}

.confetti:nth-child(1) {
	background-color: #53d9d1;
	left: 10%;
	animation-delay: 0;
}

.confetti:nth-child(2) {
	background-color: #f27b9b;
	left: 20%;
	animation-delay: -1s;
}

.confetti:nth-child(3) {
	background-color: #eb7132;
	left: 30%;
	animation-delay: -5.52s;
}

.confetti:nth-child(4) {
	background-color: #53d9d1;
	left: 40%;
	animation-delay: -3s;
}

.confetti:nth-child(5) {
	background-color: #f27b9b;
	left: 50%;
	animation-delay: -2.25s;
}

.confetti:nth-child(6) {
	background-color: #eb7132;
	left: 60%;
	animation-delay: -6s;
}

.confetti:nth-child(7) {
	background-color: #53d9d1;
	left: 70%;
	animation-delay: -1.57s;
}

.confetti:nth-child(8) {
	background-color: #f27b9b;
	left: 80%;
	animation-delay: -0.54s;
}

.confetti:nth-child(9) {
	background-color: #eb7132;
	left: 90%;
	animation-delay: -4.9s;
}

.confetti:nth-child(10) {
	background-color: #53d9d1;
	left: 100%;
	animation-delay: -5.1s;
}

.confetti:nth-child(11) {
	background-color: #eb7132;
	left: 5%;
	animation-delay: -4.23s;
}

.confetti:nth-child(12) {
	background-color: #53d9d1;
	left: 15%;
	animation-delay: -3.65s;
}

.confetti:nth-child(13) {
	background-color: #f27b9b;
	left: 25%;
	animation-delay: -0.58s;
}

.confetti:nth-child(14) {
	background-color: #eb7132;
	left: 35%;
	animation-delay: -4.57s;
}

.confetti:nth-child(15) {
	background-color: #53d9d1;
	left: 45%;
	animation-delay: -3.53s;
}

.confetti:nth-child(16) {
	background-color: #f27b9b;
	left: 55%;
	animation-delay: -1.52s;
}

.confetti:nth-child(17) {
	background-color: #eb7132;
	left: 65%;
	animation-delay: -2.57s;
}

.confetti:nth-child(18) {
    background-color: #53d9d1;
	left: 75%;
	animation-delay: -6.3s;
}

.confetti:nth-child(19) {
	background-color: #f27b9b;
	left: 85%;
	animation-delay: -3.58s;
}

.confetti:nth-child(20) {
	background-color: #eb7132;
	left: 90%;
	animation-delay: -2.1s;
}


@keyframes confetti {
	0% {
		transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
	}
	25% {
		transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
	}
	50% {
		transform: rotateZ(15deg) rotateY(720deg) translate(10vw, 60vh);
	}
	75% {
		transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
	}
	100% {
		transform: rotateZ(25deg) rotateY(1440deg) translate(10vw, 110vh);
	}
}
